.Team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 232px 61px 215px;
  font-size: 20px;

  .team-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: justify;
    // max-width: 1170px;

    gap: 30px;

    .title {
      max-width: 370px;
      // padding: 40px;
    }

    img {
      width: 100%;
      height: auto;

      max-width: 770px;
      max-height: 497px;
    }
  }

  .quote-persons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 38px;

    .divide-text {
      max-width: 1170px;
      padding: 65px 0 47px 0;
      text-align: justify;
    }
  }

  .programmers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 33px;

    padding-top: 73px;

    height: 576px;

    .cards-column {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .programmers-image {
      img {
        width: 100%;
        height: auto;

        max-height: 510px;
        max-width: 682px;
      }
    }
  }

  .designSecurity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .divide-text {
      max-width: 1170px;
      text-align: justify;
      padding: 88px 0 43px;
    }

    .cards-row {
      display: flex;
      gap: 76px;
    }
  }
}

@media (max-width: 1500px) {
  .Team {
    .programmers {
      flex-direction: column-reverse;
      height: auto;

      .cards-column {
        flex-direction: row;
      }
    }
  }
}

@media (max-width: 1200px) {
  .Team {
    padding: 15px 107px;

    .team-photo {
      flex-direction: column-reverse;

      .title {
        max-width: none;
      }
    }

    .programmers {
      .cards-column {
        flex-direction: column;
      }
    }

    .designSecurity {
      .cards-row {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 768px) {
  .Team {
    padding: 30px 15px 30px;
  }
}

@media (max-width: 500px) {
  .Team {
    font-size: 13px;

    .team-photo {
      gap: 15px;
    }

    .quote-persons {
      padding-top: 15px;

      .divide-text {
        padding: 30px 0 15px;
      }
    }

    .programmers {
      padding-top: 30px;
      gap: 15px;

      .cards-column {
        gap: 30px;
      }
    }

    .designSecurity {
      .divide-text {
        padding: 30px 0 15px;
      }

      .cards-row {
        gap: 30px;
      }
    }
  }
}
