.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;

  .home-background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/images/processor.png");
    background-size: cover;
    width: 100%;
    height: 597px;

    .home-title {
      position: relative;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 200px;

      text-align: center;

      background: radial-gradient(
        rgba(0, 0, 0, 1) 1%,
        rgba(27, 154, 233, 0.3) 100%
      );

      h1 {
        margin-top: 0px;
        margin-bottom: 25px;
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
      }

      h3 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
      }

      .learn-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 304px;
        height: 60px;
        margin-top: 48px;

        border-radius: 15px;
        background-color: #1b9ae9;

        font-size: 25px;
        font-weight: 600;
      }
    }
  }

  .discription {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 163px;
    padding: 0 215px;
    text-align: center;

    h4 {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      color: var(--color-black);
    }

    .divider {
      position: absolute;
      bottom: -6px;
    }
  }

  .advantages,
  .whom {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;

    color: var(--color-black);

    font-size: 18px;

    h4 {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .advantages {
    background-color: #ededed;
    height: 467px;

    .b {
      display: flex;
      justify-content: center;
      max-width: 805px;

      .advantages-text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        height: 327px;

        padding: 0 0 0 215px;

        h4 {
          margin: 0 0 7px 0;
        }

        div {
          font-size: 18px;

          p {
            margin: 0;
            font-weight: 600;
          }

          ul {
            margin: 0;
            padding-inline-start: 30px;
          }

          &:nth-child(2) {
            margin-bottom: 14px;
          }
        }
      }
    }

    .advantages-img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 80px 0 0;
      max-width: 805px;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .whom {
    height: 541px;
    position: relative;
    background-color: var(--color-white);

    .divider-top {
      position: absolute;
      top: -6px;
    }

    .c {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      .whom-img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 805px;
        padding-left: 104px;

        img {
          max-width: 100%;
          height: auto;
          padding-bottom: 150px;
        }
      }

      .a {
        display: flex;
        justify-content: center;
        max-width: 805px;
        padding-right: 104px;

        .whom-text {
          display: flex;
          justify-content: center;
          flex-direction: column;
          max-width: 582px;
          min-width: 370px;

          h4 {
            margin: 0 0 5px 15px;
          }

          ul {
            margin: 0;
            padding-inline-start: 30px;

            li {
              margin-bottom: 3px;
            }
          }
        }
      }
    }

    .divider-bottom {
      position: absolute;
      bottom: -6px;
    }
  }

  .more {
    height: 215px;
    width: 393px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 34px;

    h4 {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      color: var(--color-black);
    }

    .nav-link {
      text-decoration: none;
      color: #ffffff;

      .learn-more {
        padding: 15px 49px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 25px;
        font-weight: 600;

        border-radius: 15px;
        background-color: #1b9ae9;
        border: 1px solid #ffffff;

        &:hover {
          opacity: 0.7;
        }

        &:active {
          color: #1b9ae9;
          background-color: #ffffff;
          border: 1px solid #1b9ae9;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .Home {
    .discription {
      padding: 15px 107px;
    }

    .advantages {
      .b {
        .advantages-text {
          padding-left: 40px;
        }
      }

      .advantages-img {
        padding-right: 40px;
      }
    }

    .whom {
      .c {
        .whom-img {
          padding-left: 40px;
        }
        .a {
          padding-right: 40px;
        }
      }
    }
  }
}

//768-992
@media (max-width: 768px) {
  .Home {
    .home-background {
      .home-title {
        width: auto;
        justify-content: center;
        padding: 0 15px;
      }
    }

    .discription {
      height: auto;
      padding: 15px;
    }

    .advantages {
      flex-direction: column;
      height: auto;
      width: auto;
      padding: 15px;

      .b {
        .advantages-text {
          height: auto;
          padding: 0;
        }
      }

      .advantages-img {
        padding: 0;
      }
    }

    .whom {
      height: auto;
      .c {
        flex-direction: column-reverse;
        padding: 15px;

        .whom-img {
          padding: 0;

          img {
            padding-bottom: 0;
          }
        }

        .a {
          padding-right: 0;

          .whom-text {
            max-width: none;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .Home {
    .home-background {
      .home-title {
        h1 {
          font-size: 43px;
        }

        h3 {
          font-size: 23px;
        }
      }
    }

    .discription {
      h4 {
        font-size: 13px;
      }
    }

    .advantages {
      .b {
        .advantages-text {
          h4 {
            font-size: 13px;
          }

          div {
            font-size: 11px;
          }
        }
      }
    }

    .whom {
      font-size: 11px;

      .c {
        .a {
          .whom-text {
            h4 {
              margin: 0 0 5px 5px;
              font-size: 13px;
            }

            ul {
              padding-inline-start: 20px;
            }
          }
        }
      }
    }

    .more {
      width: auto;
      height: auto;
      padding: 15px;
      gap: 15px;

      h4 {
        font-size: 13px;
      }

      .nav-link {
        .learn-more {
          font-size: 18px;
          padding: 4px 15px;
        }
      }
    }
  }
}

//320-480-768
@media (max-width: 320px) {
}
