.AboutProduct {
  font-size: 20px;

  .divider-top,
  .divider-bottom {
    position: absolute;
  }

  .divider-top {
    top: -6px;
  }

  .divider-bottom {
    bottom: -6px;
  }

  h4 {
    margin: 0;
    border-bottom: 2px solid var(--color-black);
    width: fit-content;
    padding-right: 2px;
  }

  p {
    margin: 0;
    text-align: justify;
  }

  span {
    font-weight: 500;
    margin-top: 10px;
  }

  .productDescription {
    display: flex;
    justify-content: center;
    padding: 24px 215px 18px 215px;

    text-align: justify;

    & > div {
      max-width: 1170px;
    }
  }

  .testingTuning,
  .additionalFunctionality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 44px 215px 53px 215px;

    background-color: #ededed;
  }

  .testingTuning {
    .testingTuning-text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 1170px;

      .text-img {
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: auto;
          max-width: 572px;

          padding: 15px 0 15px 15px;
          float: inline-end;
        }
      }
    }
  }

  .informationSecurity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px 215px 27px 215px;

    .informationSecurity-text {
      max-width: 1170px;
      display: flex;
      flex-direction: column;
      gap: 27px;

      .informationSecurity-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: auto;
          max-width: 569px;

          padding: 15px 15px 15px 0;
          float: inline-start;
        }

        .analysisEmulation {
          display: flex;
          flex-direction: column;
          gap: 27px;
        }
      }
    }
  }

  .additionalFunctionality {
    padding: 40px 215px 95px 215px;

    .additionalFunctionality-text {
      max-width: 1170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 27px;

      .top {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        gap: 27px;

        ul {
          padding: 0;
          margin: 0;

          text-align: justify;
          list-style-type: none;
          li {
            margin-top: 25px;

            &:before {
              padding: 5px 15px 0 0;
              content: "-";
            }
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1200px) {
  .AboutProduct {
    .productDescription {
      padding: 15px 107px;
    }

    .testingTuning {
      padding: 15px 107px;
    }

    .informationSecurity {
      padding: 15px 107px;
    }

    .additionalFunctionality {
      padding: 15px 107px;
    }
  }
}

@media (max-width: 768px) {
  .AboutProduct {
    .productDescription {
      padding: 15px;
    }

    .testingTuning {
      padding: 15px;
    }

    .informationSecurity {
      padding: 15px;
    }

    .additionalFunctionality {
      padding: 15px;
    }
  }
}

@media (max-width: 500px) {
  .AboutProduct {
    font-size: 13px;
    
    span {
      font-weight: 600;
    }

    .informationSecurity {
      .informationSecurity-text {
        gap: 10px;
      }
    }

    .additionalFunctionality {
      .additionalFunctionality-text {
        gap: 10px;

        .top{
          gap: 10px;
        }

        .bottom {
          gap: 10px;

          ul {
            li {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
