header {
  top: 0;
  position: sticky;
  background-color: var(--color-white);
  z-index: 1;
  width: 100%;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 35%);

  .Header {
    display: flex;
    align-items: center;
    padding: 12px 232px 12px 215px;
    height: 35px;
    gap: 59px;

    .logo {
      height: 38px;
    }

    .navigation {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 30px;

      .nav-link {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        /* min-width: 275px;
                min-height: 80px; */

        border-radius: 30px;

        font-family: "Montserrat";
        font-weight: 400;
        font-size: 15px;
        text-decoration: none;
        color: #000000;
        transition: 0.24s;

        &:hover {
          color: transparent;
        }

        &::after {
          content: attr(data-title);
          display: flex;
          text-align: center;
          align-items: center;
          color: transparent;
          
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          font-weight: 500;
          transition: 0.24s;
        }

        &:hover::after {
          color: #000000;
        }
      }
    }

    .contact-number {
      font-family: "Inter";
      font-weight: 600;
      white-space: nowrap;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 154px;
      height: 35px;
      border-radius: 15px;
      background-color: #1b9ae9;
      color: #ffffff;

      font-weight: 500;
      font-size: 18px;
    }
  }
}
