body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;

  --color-black: #000000;
  --color-white: #ffffff;
  
  #root  {
 
  }
}

hr {
  width: 100%;
  height: 8px;
  background-color: #00214a;
  border-color: #00214a;
  margin: 0;
}

.top-hr {
  width: 100%;
  height: 8px;
  background-color: #00214a;
  border-color: #00214a;
  margin: 0;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-SemiBold.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 700;
}